
#canvas {
    height: 500px;
    width: 500px;
    border: 2px solid black;
    top: 50px;
    overflow:hidden;
}

.btn-group-vertical {
    top: 80px;
}

.btn-group#red {
    background-color: red;
    margin: 10px;
    radius: 50%;
}

.btn-group#green {
    background-color: green;
    margin: 10px;
    radius: 50%;
}

.btn-group#black {
    background-color: black;
    margin: 10px;
    radius: 50%;
}

.btn-group#yellow {
    background-color: yellow;
    margin: 10px;
    radius: 50%;

}

.btn-group#grey {
    background-color: grey;
    margin: 10px;
    radius: 50%;
}

.btn-group#blue {
    background-color: blue;
    margin: 10px;
    radius: 50%;
}