#canvas {
    height: 500px;
    width: 500px;
    border: 2px solid black;
    overflow: hidden;
    margin-left: 20px;
}

#colorPalette {
    margin: 20px;
    margin-left: 100px;
}

#features {
    margin: 20px;
    margin-left: 150px;
}

#clearErase {
    margin-left: 150px;
}

.colorBtn#red {
    background-color: red;
    margin: 10px;
    radius: 50%;
}

.colorBtn#green {
    background-color: green;
    margin: 10px;
    radius: 50%;
}

.colorBtn#black {
    background-color: black;
    margin: 10px;
    radius: 50%;
}

.colorBtn#yellow {
    background-color: yellow;
    margin: 10px;
    radius: 50%;
}

.colorBtn#grey {
    background-color: grey;
    margin: 10px;
    radius: 50%;
}

.colorBtn#blue {
    background-color: blue;
    margin: 10px;
    radius: 50%;
}

#clearScreen {
    font-family: 'Amatic SC', cursive;
    font-size: 22px;
}

#white {
    font-family: 'Amatic SC', cursive;
    font-size: 22px;
}